
/*Imagen de fondo*/

body, html {
	margin: 0;
	height: 100%;
	width: 100%;
	background-image: url("./img/encabezado-fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/*Navbar*/

.navbar-brand {
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	color: rgba(0,0,0,0.9);
	text-decoration: none;
}

.container-dark {
	width: 100%;
}

.navbar-brand > h4 {
	margin-top: 8px;
}

p > a {
	color: rgba(0,0,0,0.9);
	text-decoration: none;
}

hr.salto {
	background-color: white;
	border-top: 0px dashed white;
	width: 100%;
	height: 2px;
}

/*Fin vavbar*/

/*CSS encabezado página*/

div.encabezado {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;	
}


div.photo, div.texto_encabezado {
	top: 25vh;
}

/*@media para responsive*/
@media all and (max-width: 575px) {
	div.photo, div.texto_encabezado {
		top: 10vh;
	}
	
}

h4 {
	font-family: 'Indie Flower', cursive;
}

.perfil_photo {
	margin: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

img {
	max-width: 50%;
	width: 40%;
}
h1 {
	color: white;
	padding-bottom: 40px;
	font-size: 75px;
	font-size: 4vw;
	font-family: 'Roboto Mono', monospace;
}

/* CSS del Timeline*/
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

/* Línea timeline*/
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: black;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

/* Fondo container*/
.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

.container-fluid {
	padding: 5vh;
	width: auto;
	height: auto;
}

/* Círculos timeline*/
.container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid black;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

/* Contenedor a la izquierda*/
.left {
	right: 25.3%;
}

/* Contenedor a la derecha*/
.right {
	left: 25.3%;
}

/* Flechas derecha*/
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent rgb(128,128,128);
}

/* Flechas izquierda*/
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid black;
	border-width: 10px 10px 10px 0;
	border-color: transparent rgb(128,128,128) transparent transparent;
}

/* Corrimiento circulos*/
.right::after {
	left: -16px;
}

/* Contenedor */
.content {
	padding: 20px 30px;
	background-color: rgb(128,128,128);
	position: relative;
	border-radius: 6px;
}

/*@media para el timeline, deja todas las secciones a la derecha*/

@media all and (max-width: 575px) {
	.timeline::after {
		left: 31px;
	}

	.container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	.container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent rgb(128,128,128) transparent transparent;
	}

	.left::after, .right::after {
		left: 15px;
	}

	.right {
		left: 0%;
	}
	.left {
		left: 0%;
	}

}

/*CSS para las secciones*/

div.seccion {
	height: auto;
	width: 100%;	
	background-color: rgba(255, 255, 255, 0.9);
	
}

/*CSS seccion final*/

div.final{
	width: 100%;
	height: 40vh;
	background-color: rgba(255, 255, 255, 0.9);	
	
}

@media all and (max-width: 575px) {

	div.final{
		width: 100%;
		height: 100vh;
		background-color: rgba(255, 255, 255, 0.9);		
	}
	
}

h2.title {
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: transparent;
	height: 20%;
	font-family: 'Indie Flower', cursive;
}

.hobbie {
	/*position: relative;*/
	width: 100%;
	height: 30vh;
}

.descrip {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(29, 29, 29, 0.9);
	background-size: cover;	
	color: #fff;
	visibility: visible;
	text-align: center;
	opacity: 0;
	transition: opacity .5s, visibility .5s;
}

.hb {
	transform: 	translateY(	10vh);
}

.hobbie:hover .descrip {
	visibility: visible;
	opacity: 1;
}

div.footer {
	width: auto;
	height: 6vh;
	background-color: rgba(0, 0, 0, 0.8);
}

.row {
	margin-right: 0;
}

@media all and (max-width: 575px) {

	div.col-sm-7{
		width: 75%;
		padding-left: 20px;	
	}

	div.col-sm-5{
		width: 25%;
		padding: 0;	
	}
	
}

/*CSS para cambiar color de selección de elementos de la página a gris*/

p {
	color: white;
	font-size: 3vh;
	font-family: 'Arvo', serif;
}

p::selection {
	background: rgb(201, 201, 201);
}

p::-moz-selection {
	background: rgb(201, 201, 201);
}

::selection {
	background: rgb(201, 201, 201);
}
::-moz-selection {
	background: rgb(201, 201, 201);
}

